version: '2'
services:
    php7.0:
        build: build/php7.0
        working_dir: /root/object_audit
        volumes:
            - ../../:/root/object_audit
            - /vendor
            - ~/.ssh/id_rsa:/root/.ssh/id_rsa:ro
            - ~/.composer:/root/.composer
            - /tmp/:/tmp/
        depends_on:
            - mysql
        links:
            - mysql
        mem_limit: 2000000000

    php7.1:
        build: build/php7.1
        working_dir: /root/object_audit
        volumes:
            - ../../:/root/object_audit
            - /vendor
            - ~/.ssh/id_rsa:/root/.ssh/id_rsa:ro
            - ~/.composer:/root/.composer
            - /tmp/:/tmp/
        depends_on:
            - mysql
        links:
            - mysql
        mem_limit: 2000000000

    mysql:
        image: mariadb
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: object_audit
            MYSQL_USER: object_audit
            MYSQL_PASSWORD: object_audit