parameters:
    database_driver: pdo_sqlite

    database_path: "%kernel.root_dir%/db.sql"
    audit_database_path: "%kernel.root_dir%/db_audit.sql"

    locale: en_US
    secret: "DreamCommerce secret password"