<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <div>
            {% block dream_commerce_object_audit_content '' %}
        </div>
    </body>
</html>